<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>Email:</ion-label>
    <ion-input #email type="Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password::</ion-label>
    <ion-input #pass type="Password"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="login(email.value,pass.value)">Login</ion-button>

</ion-content>