<ion-content>
  <ion-item *ngFor="let property of entity | keyvalue">
    <ion-label>{{property.key}}:</ion-label>
    <ion-input type="{{typeOf(property.value)}}" value="{{property.value}}"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="delete()">Delete</ion-button>
  <ion-button expand="full" (click)="cancel()">Cancel</ion-button>
</ion-content>