<ion-toolbar>
  <app-activity-info></app-activity-info>
</ion-toolbar>
<ion-content>
  <ion-list *ngFor="let page of entities">
    <ion-card (click)="masterDetail(item)" *ngFor="let item of page">
      <ion-card-content *ngFor="let property of item | keyvalue">
        <ion-label *ngIf="property.key !== primaryKey"> <b>{{property.key}}:</b> {{property.value}}</ion-label>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll threshold="50px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>